@media only screen and (max-width: 820px) {
    .header,.dws-menu,#NoTypeLinknks,.forma,zebra {
      width: 80vw;}
    .conteiner{
        flex-flow:wrap ;
    }
    header{
        height: 200px;
    }
    .dws-menu {
        overflow: hidden;
        width: auto;
        order: 1;
    }
    .NoTypeLink{
        order: 2;
        margin-top: 2vh;
    }
    .dws-menu ul{
        display: block;
    }
    .forma {
        order: 3;
        margin-top: 2vh;
    }
    TABLE {
        order: 4;
    }
}

@media all and (min-width: 820px) {
    .nav{
        order: 1;
    }
    .NoTypeLink{
        order: 2;
    }
    .forma {
        order: 3;
    }
    TABLE{
        order: 4;
        margin-top: 0;
    }
}