﻿*{  padding: 0; margin: 0; }
body {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    background-size: cover;
    background: #585858;
   }
.header {
    display: flex;
    align-items: stretch;
    flex-direction: row;
}
#world a {
    color: #ff6a00;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
 }
 header {
     color: #ff6a00;
     text-align: center;
     background-color: #2c3e50;
     background: url('https://rolf-probeg.ru/static/infographics/car.png')repeat-y  #2c3e50;
     background-position: center;
     background-size: 100%;
     position: relative;
 }
header::after {
    margin-top: 200px;
    content: '';
    display: inline-block;
    width: 100%;
}
 .nav{
     order: 1;
 }
.dws-menu ul,
.dws-menu ol{
    list-style: none;
}
.dws-menu > ul li{
    position: relative;
}
.dws-menu > ul li:first-child{
    border-left: 1px solid #F4EEE8;
}
.dws-menu > ul li:last-child{
    border-right: 1px solid #b0aac0;
}
.dws-menu > ul li{
    position: relative;
    border-right: 1px solid #c7c8ca;
}
.dws-menu > ul{
    display: flex;
    justify-content: center;
}
.dws-menu > ul li a{
    display: block;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 1%, rgba(179,191,188,1) 22%, rgba(83,89,89,1) 54%, rgba(76,72,75,1) 97%, rgba(142,142,142,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 1%,rgba(179,191,188,1) 22%,rgba(83,89,89,1) 54%,rgba(76,72,75,1) 97%,rgba(142,142,142,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 1%,rgba(179,191,188,1) 22%,rgba(83,89,89,1) 54%,rgba(76,72,75,1) 97%,rgba(142,142,142,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#8e8e8e',GradientType=0 ); /* IE6-9 */
    padding: 15px 30px 15px 40px;
    font-size: 14px;
    color: #cccccc;
    text-decoration: none;
    text-transform:uppercase;
}
.dws-menu li a:hover{
    background: #e0e1e5;
    background: -moz-linear-gradient(top,  #e0e1e5 0%, #454547 2%, #454547 98%, #e0e1e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #e0e1e5 0%,#454547 2%,#454547 98%,#e0e1e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #e0e1e5 0%,#454547 2%,#454547 98%,#e0e1e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e1e5', endColorstr='#e0e1e5',GradientType=0 ); /* IE6-9 */
    color: #ffffff;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
}
img {
    max-width:100%;
    height:auto;
    width:auto\9;
    justify-content: center;
}

TABLE {
    border-spacing: 2px;
    empty-cells: hide;
    margin: auto;
    font-family: cursive;
    border: 5px solid #ff6a00;
    border-radius: 10px;
    transition: all 0.5s linear;
    justify-content: space-around;
    order: 2;
}

td {
    padding: 10px 20px;
    text-align: center;
    border-bottom: 1px solid #F4EEE8;
    transition: all 0.5s linear;
}
    td:first-child {
        text-align: left;
        color: #3D3511;
        font-weight: bold;
    }
th {
    padding: 10px 20px;
    color: #3D3511;
    font-size: 20px;
    border-bottom: 1px solid #F4EEE8;
}

tr:nth-child(odd) {
    background: #a74dd7;
}
tr:nth-child(even) {
    background: #ff6a00;
}
.NoTypeLink*{
    margin: 0;
    padding: 0;
}


#NoTypeLink a {
    display: block;
    width: 100vw;
    background: #e0e1e5;
    font-size: 20px;
    color: #ff6a00;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    justify-content: space-around;
    order: 3;
}
    #NoTypeLink a:hover {
        border-radius: 5px 5px;
        background-color: #33ADFF;
    }

.text1 {
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
}

#ima2 {
    border: 2px solid #1baf6afd;
    height: 50px;
    width: 100px;
    border-radius: 5px;
}

.imaAll {
    border: 2px solid #1baf6afd;
    height: 350px;
    width: 350px;
    border-radius: 5px;
}
.forma {
    display: block;
    background-color: #c2d4dd;
    width: auto;
    order: 4;
}
footer {
    padding-bottom: 20px;
    padding-top: 20px;
    color: #ff6a00;
    background-color: #2c3e50;
    text-align: left;
}

@media only screen and (max-width: 820px) {
    .header,.dws-menu,#NoTypeLinknks,.forma,zebra {
      width: 80vw;}
    .conteiner{
        flex-flow:wrap ;
    }
    header{
        height: 200px;
    }
    .dws-menu {
        overflow: hidden;
        width: auto;
        order: 1;
    }
    .NoTypeLink{
        order: 2;
        margin-top: 2vh;
    }
    .dws-menu ul{
        display: block;
    }
    .forma {
        order: 3;
        margin-top: 2vh;
    }
    TABLE {
        order: 4;
    }
}

@media all and (min-width: 820px) {
    .nav{
        order: 1;
    }
    .NoTypeLink{
        order: 2;
    }
    .forma {
        order: 3;
    }
    TABLE{
        order: 4;
        margin-top: 0;
    }
}